@model OEP.Resources.Admin.ResultListResource

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    var i = 0;
    var currentPage = Request.QueryString["page"] != null ? Convert.ToInt32(Request.QueryString["page"]) : 1;
}

<div class="container" style="padding: 3.5rem 0;">


    @{

        <div class="row">

            @foreach (var item in Model.ResultResourceList)
            {
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">

                        <div class="card-body">
                            <h4 class="card-title"> @item.Exam.Name</h4>
                            <p class="card-text">PassMark : @item.Exam.Passmark</p>
                            <p class="card-text">Attended On : @item.CreatedDate</p>
                            <p class="card-text">Mark : @item.Mark</p>
                            <p class="card-text">Total Questions : @item.TotalQuestions</p>
                            <p class="card-text">Attended : @item.TotalQuestionsAttended</p>
                            <p class="card-text @(item.ResultStatus.ToLower()=="fail"?"fail":"success")">Result : @item.ResultStatus</p>
                        </div>
                    </div>
                </div>
            }


        </div>

        <nav data-pagination>
            @if (Model.PageIndex != 0)
            {
                <a href="@Url.Action("Index", new { page = (currentPage - 1) })"><i class=ion-chevron-left></i></a>
            }
            <ul>
                @for (i = 0; i < Model.TotalPages; i++)
                {
                    <li class=@(Model.PageIndex==(i* Model.PageSize)?"current":"")>
                        <a href="@Url.Action("Index", new { page=(i+1) })">@(i + 1)</a>
                    </li>
                }

            </ul>
            @if (currentPage < Model.TotalPages)
            {
                <a href="@Url.Action("Index", new { page=(currentPage+1) })"><i class=ion-chevron-right></i></a>
            }
        </nav>
    }


</div>

@section css{
    <link href="~/Content/result-page.css" rel="stylesheet">
}
