@model OEP.Resources.Admin.ExamStartResource
@{
    ViewBag.Title = "StartExam";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@Scripts.Render("~/bundles/jquery")

<section class="background-11" style="padding: 3.5rem 0;">
    <div class="content">
        <div class="container">
            <input type="hidden" id="hdntime" />
            <h3 class="ml-3" id="timer"></h3>
            <div class="row ml-3" id="total">
            </div>
            <div class="row ml-3">
                <div class="col-sm-12">
                    <div id="result" class="quiz-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="tab-wrapper">

                                <ul class="tab-menu">
                                    <li class="active" data-tab-head="0">
                                        Default
                                        <div class="line" style="width: 100%;"></div>
                                    </li>
                                    @if (Model.QuestionsResource != null && Model.QuestionsResource[0].QuestionsLocalized != null)
                                    {
                                        for (int i = 0; i < Model.QuestionsResource[0].QuestionsLocalized.Count(); i++)
                                        {
                                            <li data-tab-head="@(i+1)">@(Model.QuestionsResource[0].QuestionsLocalized[i].Language.Name)</li>
                                        }
                                    }

                                </ul>
                                @if (Model.QuestionsResource != null)
                                {
                                    for (int i = 0; i < Model.QuestionsResource.Count(); i++)
                                    {
                                        <div data-tab-content="@i" style="@(i==0?"display:block":"display:none")" class="tab-content @(i==0?"active":"")">
                                            <div data-tab-sub="0">
                                                @{

                                                    var questionDefault = Model.QuestionsResource[i];
                                                    @Html.HiddenFor(x => questionDefault.Id)
                                                    <div class="form-group">
                                                        @Html.DisplayTextFor(modelItem => questionDefault.Question)
                                                    </div>
                                                    <div class="form-group">
                                                        
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-6 col-lg-4">1) @questionDefault.OptionA</div>
                                                            <div class="col-sm-12 col-md-6 col-lg-4">2) @questionDefault.OptionB</div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-6 col-lg-4">3) @questionDefault.OptionC</div>
                                                            <div class="col-sm-12 col-md-6 col-lg-4">4) @questionDefault.OptionD</div>

                                                        </div>
                                                    </div>
                                                }
                                            </div>

                                            @{
                                                if (Model.QuestionsResource[i] != null)
                                                {
                                                    for (int j = 0; j < Model.QuestionsResource[i].QuestionsLocalized.Count(); j++)
                                                    {
                                                        <div data-tab-sub="@(j+1)" style="display:none;">
                                                            @{

                                                                var questionLocalized = Model.QuestionsResource[i].QuestionsLocalized[j];
                                                                @Html.HiddenFor(x => questionLocalized.Id)
                                                                <div class="form-group">
                                                                    @Html.DisplayTextFor(modelItem => questionLocalized.Question)
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="row">
                                                                        <div class="col-sm-12 col-md-6 col-lg-4">1) @questionLocalized.OptionA</div>
                                                                        <div class="col-sm-12 col-md-6 col-lg-4">2) @questionLocalized.OptionB</div>

                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12 col-md-6 col-lg-4">3) @questionLocalized.OptionC</div>
                                                                        <div class="col-sm-12 col-md-6 col-lg-4">4) @questionLocalized.OptionD</div>

                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    }
                                                }
                                            }



                                        </div>
                                    }
                                }
                                @if (Model.QuestionsResource != null && Model.QuestionsResource.Any())
                                {
                                    <button name="previous" id="previous" style="display:none;" class="btn btn-success">Previous</button>
                                    <button name="next" id="next" class="btn btn-success">Next</button>
                                }

                                <input type="submit" style="display:none;" id="finishExam" value="Finish" class="btn btn-success" />

                            </div><!-- //tab-wrapper -->
                        }
                    </div>
                </div> <!-- End of col-sm-12 -->

            </div> <!-- End of row -->
        </div> <!-- ENd of container fluid -->
    </div> <!-- End of content -->
</section>

@section Scripts {
    <script>
        $(document).ready(function () {

            var $wrapper = $('.tab-wrapper'),
                $allTabs = $wrapper.find('.tab-content'),
                $activeTabcontent = $wrapper.find('.tab-content.active'),
                $tabMenu = $wrapper.find('.tab-menu li'),
                $line = $('<div class="line"></div>').appendTo($tabMenu),
                $nextButton = $('#next'),
                $prevButton = $('#previous'),
                currentQuestion = 0,
                totalQuestions =@Model.QuestionsResource.Count(),
                $finishButton = $('#finishExam');



            $nextButton.on('click', function () {
                currentQuestion++;
                var $getWrapper = $(this).closest($wrapper);
                $activeTabcontent = $('.tab-content.active');
                var $activeTabDivs = $('.tab-content.active > div'),
                    $dataTabContent = $getWrapper.find($allTabs).filter('[data-tab-content=' + currentQuestion + ']');

                $activeTabcontent.hide().removeClass('active');

                $dataTabContent.addClass('active').show();

                //hide / show next and prev buttons
                if (currentQuestion > 0) {
                    $prevButton.show();
                }
                if (currentQuestion === totalQuestions - 1) {
                    $finishButton.show();
                    $nextButton.hide();
                }

                //set tab to 0
                $tabMenu.removeClass('active');
                $getWrapper.find('.line').width(0);
                $getWrapper.find('[data-tab-head=0]').addClass('active').find($line).animate({ 'width': '100%' }, 'fast');
                $getWrapper.find($activeTabDivs).hide();
                $getWrapper.find($activeTabDivs).filter('[data-tab-sub=' + 0 + ']').show();
                return false;
            });
            $prevButton.on('click', function () {
                currentQuestion--;
                var $getWrapper = $(this).closest($wrapper);
                $activeTabcontent = $('.tab-content.active');
                var $activeTabDivs = $('.tab-content.active > div'),
                    $dataTabContent = $getWrapper.find($allTabs).filter('[data-tab-content=' + currentQuestion + ']');

                $activeTabcontent.hide().removeClass('active');
                $dataTabContent.addClass('active');
                $dataTabContent.show();
                if (currentQuestion == 0) {
                    $prevButton.hide();
                }
                if (currentQuestion < totalQuestions - 1) {
                    $nextButton.show();
                    $finishButton.hide();
                }
                //set tab to 0
                $tabMenu.removeClass('active');
                $getWrapper.find('.line').width(0);
                $getWrapper.find('[data-tab-head=0]').addClass('active').find($line).animate({ 'width': '100%' }, 'fast');

                $getWrapper.find($activeTabDivs).hide();
                $getWrapper.find($activeTabDivs).filter('[data-tab-sub=' + 0 + ']').show();
                return false;
            });

            $tabMenu.on('click', function () {
                var dataTab = $(this).data('tab-head'),
                    $getWrapper = $(this).closest($wrapper);

                $getWrapper.find($tabMenu).removeClass('active');
                $(this).addClass('active');

                $getWrapper.find('.line').width(0);
                $(this).find($line).animate({ 'width': '100%' }, 'fast');
                $getWrapper.find($('.tab-content.active > div')).hide();
                $getWrapper.find($('.tab-content.active > div')).filter('[data-tab-sub=' + dataTab + ']').show();
            });

        });//end ready
    </script>
}

<style type="text/css">
    .tab-wrapper {
        margin: 10px auto;
        width: 100%;
    }

    .tab-menu li {
        position: relative;
        background-color: #fff;
        color: #bcbcbc;
        display: inline-block;
        padding: 20px 40px;
        opacity: 0.8;
        cursor: pointer;
        z-index: 0;
    }

        .tab-menu li:hover {
            color: #464646;
        }

        .tab-menu li.active {
            color: #464646;
            opacity: 1;
        }

            .tab-menu li.active:hover {
                color: #464646;
            }

    .tab-content > div {
        background-color: #fff;
        box-sizing: border-box;
        width: 100%;
        padding: 50px;
        min-height: 200px;
    }

    .line {
        position: absolute;
        width: 0;
        height: 7px;
        background-color: aqua;
        top: 0;
        left: 0;
    }
</style>
