@using System.Web.Optimization
@model OEP.Resources.Admin.SubCategoryResource

@{
    ViewBag.Title = "Details of Sub Category - "+Model.Name;
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
    ViewBag.Page = "SubCategory";
    ViewBag.SubPage = "";
}


<div>
    <hr />
    <dl class="dl-horizontal">
       

  

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

   

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Back to List", "Index", "SubCategories", new { area = "Admin" }, new { @class = "btn btn-dropbox" })
</p>
