@model IEnumerable<OEP.Resources.Admin.EducationDetailsResource>


@using System.Web.Optimization
@{ Layout = "";

   

    }
<fieldset class="container">
    <legend class="text-uppercase fs-0 fs-md-1">Education Details</legend>
    <div class="form-horizontal">
        <div id="partialViewEducationType" class="row">

        </div>
        @foreach (var item in Model)
    {




        <div class="row pt-2" >
            <div class="col-md-2">
                @Html.DropDownList("EducationType", new SelectList(ViewBag.EducationTypeId, "Id", "Name", item.EducationTypeId), htmlAttributes: new { @class = " btn  btn-outline-primary ", @id = "EducationTypeId" + item.Id })


            </div>
            <div class="col-md-2 ">

                <input type="text" value="@item.InstituteName" id="@("txtname"+item.Id)" class="form-control " placeholder="Institute Name" />

            </div>
            <div class="col-md-2">

                @Html.DropDownList("YearFrom", new SelectList(ViewBag.YearFromId, "Id", "Year", item.YearFromId), htmlAttributes: new { @class = "btn  btn-outline-primary  ", @id = "from" + item.Id })




            </div>
            <div class="col-md-2">

                @Html.DropDownList("YearToId", new SelectList(ViewBag.YearFromId, "Id", "Year", item.YearToId), htmlAttributes: new { @class = "btn  btn-outline-primary", @id = "to" + item.Id })



            </div>
            <div class="col-md-2">

                <input type="button" name="@item.Id" onclick="editDetails(@item.Id)" id="btnedit" class="btn btn-info" value="Update" />

            </div>
            <div class="col-md-2">
                <input type="button" name="@item.Id" id="btndelete" onclick="deleteDetails(@item.Id)" class="btn btn-danger" value="Delete" />

            </div>
        </div>

}

        <div class="row pt-2 " >
      
            <input type="button" id="btnaddnew" value="Add" class="btn btn-success ml-3" />
        </div>
    </div>
</fieldset>
<script>


    $("#btnaddnew").click(function () {

        $("#partialViewEducationType").load("/Manage/EducationDetails/");
        $("#btnaddnew").hide();

    });

    function editDetails(Id) {



        var educationType = $("#EducationTypeId" + Id).val();
        var institute = $("#txtname" + Id).val();
        var from = $("#from" + Id).val();
        var eid = Id;
        var to = $("#to" + Id).val();
        var educationDetailsResource = {};
        educationDetailsResource.id = eid;
        educationDetailsResource.EducationTypeId = educationType;
        educationDetailsResource.InstituteName = institute;
        educationDetailsResource.YearFromId = from;
        educationDetailsResource.YearToId = to;

        $.post("/Manage/EditEducationDetails/", { educationDetailsResource }, function (data) {


            if (data == "Suceess") {
               
                $("#Educationdetailstable").empty();


                $("#Educationdetailstable").load("/Manage/Educationdetailstable");
                alert("Updated Succesfully");
            }
            else {

                alert("Please Check all the fields");
            }

        });



    }
    function deleteDetails(Id) {

        debugger;
        var eid = Id;
        var educationDetailsResource = {};
        educationDetailsResource.id = eid;

        $.post("/Manage/DeleteEducationDetails/", { educationDetailsResource }, function (data) {

 
            $("#Educationdetailstable").html('');


            $("#Educationdetailstable").load("/Manage/Educationdetailstable");
            alert("Deleted Succesfully");

        });


    }




</script>
