@model OEP.Resources.Admin.ApplicationUserResource
@using System.Web.Optimization
@using OEP.Core.DomainModels

@{
    ViewBag.Title = "Add Roles - " + Model.Name;
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
    ViewBag.Page = "User";
    ViewBag.SubPage = "";
    List<RolesViewModel> test = new List<RolesViewModel>();
    string[] selected;


}
@Scripts.Render("~/bundles/jquery")



@using (Html.BeginForm())
{

    test = ViewBag.RolesList;
    selected = ViewBag.Selectedrole;
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)



        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.Label("Add Role", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <select id="Role" multiple>
                    @foreach (var item in test)
                    {


                        if (selected.Contains(item.Name))
                        {
                            <option value="@item.Id" selected>@item.Name</option>

                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>

                        }


                    }
                </select>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btnsave" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "ApplicationUsers", new { area = "Admin" }, new { @class = "btn btn-dropbox" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Areas/Admin/Assets/dist/js/bootstrap-multiselect.js"></script>
    <link href="~/Areas/Admin/Assets/dist/css/bootstrap-multiselect.css" rel="stylesheet" />

}
<!-- Initialize the plugin: Multiselect -->
<script type="text/javascript">
    $(document).ready(function () {


        $('#Role').multiselect();

        $("#btnsave").click(function () {
            debugger;
            var username = $("#UserName").val();
            var roles = $("#Role").val();
            var names = $("select option:selected").map(function () {
                return $(this).text();
            }).get().join(',');


            $.post("/Admin/ApplicationUsers/AddRolespost/", { username: username, roles: roles, names: names }, function (data) {

                if (data == "Added") {

                    window.location.href = "/Admin/ApplicationUsers/Index";
                }
              
                else {
                    alert("Please try again");
                }
            });


        });
    });


</script>